@include keyframes(page-load) {
  0% {
    background-color: $clr-secondary;
    transform: translate(0vw);
  }
  50% {
    background-color: $clr-background;
    transform: translate(calc(100vw - 30vw));
  }
  100% {
    background-color: $clr-secondary;
    transform: translate(0vw);
  }
}

.page-loading {
  &::before {
    content: ' ';
    display: block;
    position: fixed;
    z-index: 10;
    height: 4px;
    width: 30vw;
    top: 0;
    left: 0;
    background-color: $clr-placeholder;
    @include animation(page-load ease-out 1.5s infinite);
  }
}
