body {
  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    @include box-shadow(0, 0, 6px, null, rgba(0, 0, 0, 0.3), inset);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $clr-accent;
    outline: 1px solid $clr-secondary;
  }
}
