@import 'sass-utils/variables';
@import 'sass-utils/mixins';

@import 'base/reset';
@import 'base/typography';
@import 'base/scrollbars';
@import 'base/font-awesome';
@import 'base/page-load';

@import 'overrides/editorjs';

@import 'components/buttons';
@import 'components/input';
@import 'components/card';
@import 'components/navbar';
@import 'components/page-header';
@import 'components/pagination';
@import 'components/modal';

@import 'layout/main-layout';
@import 'layout/form';

@import 'pages/error';
@import 'pages/profile';
@import 'pages/create-post';
@import 'pages/post-detail';

body {
  color: white;
  background-color: $clr-background;
}

hr {
  width: 80%;
  overflow: visible;
  padding: 0;
  border: none;
  border-top: 2px solid $clr-placeholder;
  color: $clr-placeholder;
  text-align: center;
  margin: 30px auto;
  height: 0;

  &::after {
    content: '';
    display: inline-block;
    position: relative;
    top: -7px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $clr-placeholder;
  }
}
