.modal-post {
  color: $clr-primary;

  &__crop-image-container {
    max-height: fit-content;
  }

  &__preview {
    padding: 0.2rem;
    text-align: center;

    &__text {
      padding: 0.5rem;
      margin: 0.2rem;
      max-width: 100%;
      border-bottom: 1px solid $clr-secondary;
      border-top: 1px solid $clr-secondary;
    }
  }

  #crop-image {
    max-width: 100%;
  }

  /* Limit image width to avoid overflow the container */
  img,
  svg,
  canvas {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
  }
}
