extends layouts/main-layout

include /partials/post-card
include /partials/page-header
include /partials/pagination

block variables
  - var title = 'Home';

append scripts
  script(type="text/javascript",src="/javascripts/browse.js",async)

block layout-content
  +pageHeader
  div.main-layout__main-content
    if !data || data.length === 0
      div.main-layout__main-content__not-found No results found
    else
      each el in data
        +postCard(el)
  +pagination(data.length, page, isFirstPage, isLastPage)