extends layouts/main-layout

include /partials/page-info

block variables
  - var title = 'Create Post';

append scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js",integrity="sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww==",crossorigin="anonymous",referrerpolicy="no-referrer")  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cropper/1.0.1/jquery-cropper.min.js",integrity="sha512-V8cSoC5qfk40d43a+VhrTEPf8G9dfWlEJgvLSiq2T2BmgGRmZzB8dGe7XAABQrWj3sEfrR5xjYICTY4eJr76QQ==",crossorigin="anonymous",referrerpolicy="no-referrer")
  script(src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest")
  script(src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest")
  script(src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest")
  script(src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest")
  script(src="https://cdn.jsdelivr.net/npm/@editorjs/underline@latest")
  script(src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest")
  script(src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest")

  script(src="/javascripts/createPost.js")

append stylesheets
  link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css",integrity="sha512-0SPWAwpC/17yYyZ/4HSllgaK7/gg9OlVozq8K7rf3J8LvCjYEEIfzzpnA2/SSjpGIunCSD18r3UhvDcu/xncWA==",crossorigin="anonymous",referrerpolicy="no-referrer")

block layout-content
  div.main-layout__page-layout
    header.main-layout__page-layout__header Create Post
    div.main-layout__page-layout__content
      form.form(action="/posts/new",method="post",enctype="multipart/form-data")
        div.form__input-section
          label(for="title") Name
          input.input(type="text",name="title",id="title")
          fieldset.fieldset
            legend Drink Type
            div
              input.input(type="radio",name="type",id="type-cocktail",value="cocktail",required)
              label(for="type-cocktail") Cocktail
            div
              input.input(type="radio",name="type",id="type-mocktail",value="mocktail",required)
              label(for="type-mocktail") Mocktail
          label(for="body") Recipe
          div.input.input--editorjs#body
          label(for="image") Thumbnail Image (max. 4MB)
          input.input.input--file#file-upload(type="file",name="image",accept="image/png, image/gif, image/jpeg")

          div#crop-modal.modal
            div.modal-drinkbase.modal-post
              div.modal-drinkbase__header Crop Image
              div.modal-post__crop-image-container
                img#crop-image(src="#",alt="crop image")
              div.modal-post__preview
                div.modal-post__preview__text Preview
                img#preview-image(src="#",alt="preview image")
              button.btn#crop-button(type="button") Done

        div.form__info-section
          +pageInfo(formInfo)
        div.form__button-section
          input.btn#submit-post(type="submit", value="Post")