doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title Error | DrinkBase
    
  body.page-error
    div.page-error__text-container #{message}
      i.fa-solid.fa-xmark.fa-5x
      a.btn.btn--primary(href="/") Go To Homepage