extends layouts/main-layout

include /partials/card

block variables
  - var title = 'Home';

block layout-content
  +card("Some text here","And Some here")
  +card()
  +card()
  +card()
  +card()
  +card()
  +card()
  +card()
  +card()
