extends layouts/main-layout

include /partials/page-info

block variables
  - var title = 'Login';

block layout-content
  div.form-container
    header.form-container__text Login
    form.form-container__form(action="/user/login",method="post")
        label(for="username") Username
        input.input(type="text",placeholder="Username",name="username",id="username",required)
        label(for="password") Password
        input.input(type="password",placeholder="Password",name="password",id="password",required)
        input.btn(type="submit", value="Login")
    +pageInfo(formInfo)