mixin detailItem(key, value)
  div.profile__row-container
    span #{key}: 
      span.profile__row-container__value-container
        span.profile__row-container__value-container__singleline #{value}