mixin header
  div.header
    div.header__icon
      a(href="/")
        svg(data-src="/images/drinkbase.svg",fill="white",width="120px",height="60px",data-cache="disabled")
    input.input.input--search(type='search', placeholder="Search")
    div.header__menu-section
      a.btn.btn--nav(href="/") Browse
      if !isAuth
        a.btn.btn--nav(href="/user/register") Register
      if !isAuth
        a.btn.btn--nav(href="/user/login") Login
      if isAuth
        a.btn.btn--nav(href="/user/profile") Profile
      if isAuth
        a.btn.btn--nav#logout-link(href="/user/logout") Logout