mixin pageInfo(info)
  if info && info.length > 0
    if info.length === 1
      div.form-container__error-container
        div #{info[0]}
    else
      div.form-container__error-container
        ul
          each error in info
            li.
              - #{error}