.btn {
  color: white;
  background-color: $clr-primary;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 8px;

  &:not(:last-child) {
    margin: 0 8px 0px 0px;
  }

  &:hover {
    background-color: $clr-secondary;
  }

  &--nav {
    height: 100%;
    min-width: 120px;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 2px solid white;
    background-repeat: no-repeat;
    text-decoration: none;
  }

  &--current-page {
    border-color: $clr-accent;
  }
}
