.card {
  width: 300px;
  overflow: auto;
  @include box-shadow-primary;
  background-color: $clr-accent;
  display: flex;
  flex-direction: column;

  &__content {
    height: 225px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__header {
    background-color: $clr-secondary;
    font-weight: bold;
    min-height: 50px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__view-link {
      text-decoration: none;
      font-weight: normal;
      display: flex;
      gap: 0.4rem;
    }
  }

  &__footer {
    background-color: $clr-secondary;
    min-height: 50px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__favorite-btn {
      display: flex;
      gap: 0.25rem;
    }

    &__author {
      font-weight: bold;

      &--deleted {
        color: $clr-error;
      }
    }
  }
}
