.input {
  color: black;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  @include box-shadow-primary;

  &::placeholder {
    color: $clr-placeholder;
  }

  &--textarea {
    resize: none;
  }

  &--search {
    color: white;
    background: $clr-accent url(/images/search.png) no-repeat scroll 7px 7px;
    background-size: 20px;
    width: 400px;
    padding-left: 35px;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      cursor: pointer;
      height: 0.6rem;
      width: 0.6rem;
      background-image: url('/images/close.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--file {
    color: white;
    background-color: $clr-secondary;
  }
}
