.input {
  color: black;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  @include box-shadow-primary;

  &::placeholder {
    color: $clr-placeholder;
  }

  &--textarea {
    resize: none;
  }

  &--editorjs {
    background-color: white;
    box-sizing: border-box;

    &:focus-within {
      outline: 2px solid black;
      outline-offset: -1px;
      box-shadow: 0 0 0 2px white;
    }
  }

  &--search {
    background: $clr-accent url(/images/search.png) no-repeat scroll 7px 7px;
    background-size: 20px;
    width: 400px;
    padding-left: 35px;

    &::-webkit-search-cancel-button {
      appearance: none;
      -webkit-appearance: none;
      cursor: pointer;
      height: 0.6rem;
      width: 0.6rem;
      background-image: url('/images/close.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--file {
    background-color: $clr-secondary;
  }

  &--invalid {
    outline: 3px solid $clr-error;

    &:focus-within {
      outline: 3px solid $clr-error;
    }
  }
}
