.modal-drinkbase {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.2rem;

  &__header {
    font-size: large;
    color: $clr-text-secondary;
    border-bottom: 1px solid $clr-secondary;
    font-weight: bold;
    padding: 0.2rem;
  }
}
