.search {
  color: white;
  background: $clr-accent url(/images/search.png) no-repeat scroll 7px 7px;
  background-size: 20px;
  padding: 0.5rem;
  width: 400px;
  border-radius: 8px;
  border-style: solid;
  padding-left: 35px;
}
