.form {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  &__input-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    & > * {
      width: 50%;
    }
  }

  &__info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__button-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
