.form-container {
  width: 70%;
  background-color: $clr-accent;
  min-height: 500px;
  border: 1px solid $clr-secondary;
  @include box-shadow-primary;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  & input {
    width: 50%;
  }

  &__text {
    font-size: xx-large;
    font-weight: bold;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    & * {
      min-width: 50%;
    }

    &__submit {
      margin-top: 1rem;
    }
  }

  &__error-container {
    color: $clr-error;
    background-color: $clr-secondary;
    padding: 0.75rem;
    @include box-shadow-primary;
  }
}
