.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  & * {
    min-width: 50%;
  }

  &__submit {
    margin-top: 1rem;
  }
}
