block variables

include /partials/navbar

doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | DrinkBase

    block scripts
      script(src="https://code.jquery.com/jquery-3.6.1.min.js",integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=",crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js",integrity="sha512-JZSo0h5TONFYmyLMqp8k4oPhuo6yNk9mHM+FY50aBjpypfofqtEWsAgRDQm94ImLCzSaHeqNvYuD9382CEn2zw==",crossorigin="anonymous",referrerpolicy="no-referrer")
      script(type="text/javascript",src="https://unpkg.com/external-svg-loader@latest/svg-loader.min.js",async)
      script(type="text/javascript",src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js",async)

      script(type="text/javascript",src="/javascripts/highlightCurrentPage.js",async)
  body
    div#root
      +navbar
      div.main-layout
        block layout-content